<div>
  <%= flash[:notice] %>
</div>

<script src="https://kit.fontawesome.com/f1ca8f76cd.js" crossorigin="anonymous"></script>
<table>
  <tr>
    <td>welcome to </td>
    <td class="fa-sharp fa-solid fa-book"></td>
    <td>Bookers</td>
  </tr>
</table>
<p>!!</p>
<table>
  <tr>
    <td>In</td>
    <td class="fa-sharp fa-solid fa-book"></td>
    <td>Bookers,</td>
  </tr>
</table>
<p>you can share and exchange your opinions , inpressions ,</br> and emotions</p>
<p>about various books!</p>